<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lupa.svg') }}">
</head>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="Top">
            <div class="Team">
                <div class="TeamName" id="parent">
                    <h1 style="color: #ffffff;" id="child">{{ admin_info.name }}</h1>
                </div>
                <div class="Logout" style="position: relative;">
                    <a href="{{ url_for('logout_page') }}" class="logout">Вийти</a>
                </div>
            </div>
            <div class="Logo" style="position: relative">
                <img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
            </div>
            <div class="Stage" id="parent">
                <h1 id="child" style="color: #ffffff;">Панель керування Квестом</h1>
            </div>
        </div>
        <div class="Bottom">
            <div class="Panel">
                <div style="padding-left: 5%; padding-right: 5%; padding-top:0%; font-size: 18px; text-align: center;" class="gray-box">
                    <h1>Вітаємо в панелі керування Квестом</h1>
                    <p>Тут ви можете надати очки командам. Для штрафу можна ввести негативну кількість.</p>
                    <form method="POST">
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 10px">
                            <label for="team_id" style="font-size: 20px; margin: 10px">Команда:</label>
                            <select name="team_id">
                                {% for team_id in standings_data.team_info.keys() | sort %}
                                {% set team_info = standings_data.team_info[team_id] %}
                                    <option value="{{team_id}}">{{ team_info.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="points" style="font-size: 20px; margin: 10px">Кількість балів:</label>
                            <input type="number" step="1" name="points" style="font-size: 20px">
                            <input type="submit" value="Надати">
                        </div>
                    </form>
                </div>
            </div>
            <div class="Table">
                <div class="gray-box" style="overflow:scroll; width:98.35%;">
                    {{standings}}
                </div>
            </div>
        <div class="Gap"></div>
    </div>
</body>
</html>
