<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_end.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lupa.svg') }}">
</head>
<html>
<head>
    <title>Фініш</title>
</head>
<body>
    <div id="confettis">
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
        <div class="confetti"></div>
    </div>
    <div class="container">
        <div class="Top">
            <div class="Team">
                <div class="TeamName" id="parent">
                    <h1 style="color: #ffffff;" id="child">{{ team_info.name }}</h1>
                </div>
                <div class="Logout" style="position: relative;">
                    <a href="{{ url_for('logout_page') }}" style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);" class="logout_c">Logout</a>
                </div>
            </div>
            <div class="Logo" style="position: relative">
                <img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
            </div>
            <div class="Stage" id="parent">
                <h1 id="child" style="color: #ffffff;">Фiнiш</h1>
            </div>
        </div>
        <div class="Bottom">
            <div class="Logs">
            </div>
            <div class="Tasks" style="padding:10px;">
                <div style="text-align: center;">
                    <h1>Вітаємо із прибуттям на фініш!</h1>
                    <h2>Ви успішно пройшли Квест.</h2>
                </div>
                {{ standings }}
                <script>
                    window.setTimeout( function() {
                        window.location.reload();
                    }, 30000);
                </script>
            </div>
            <div class="Gap2"></div>
        </div>
        <div class="Gap"></div>
    </div>
</body>
</html>
