<text id="{{ uuid }}"></text>
<script>
    function hintTimer() {
        var time_left = {{ hint_time }} - Date.now() / 1000;
        if (time_left < 0) {
            window.location.reload();
            time_left = 0;
        }
        var minutes = Math.floor(time_left / 60).toString();
        while (minutes.length < 2) minutes = "0" + minutes;
        var seconds = Math.floor(time_left % 60).toString();
        while (seconds.length < 2) seconds = "0" + seconds;
        document.getElementById("{{ uuid }}").innerHTML = "Підказка за " + minutes + ":" + seconds;
    }

    hintTimer();
    var countdown = setInterval(hintTimer, 1000);
</script>
