<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_stage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lupa.svg') }}">
</head>
<html>
<head>
    <title>Етап {{ team_info.stage }}</title>
</head>
<body>
    <div class="container">
        <div class="Top">
            <div class="Team">
                <div class="TeamName" id="parent">
                    <h1 style="color: #ffffff;" id="child">{{ team_info.name }}</h1>
                </div>
                <div class="Logout" style="position: relative;">
                    <a href="{{ url_for('logout_page') }}" class="logout">Вийти</a>
                </div>
            </div>
            <div class="Logo" style="position: relative">
                <img src="{{ url_for('static', filename='logo.svg') }}" class="logo">
            </div>
            <div class="Stage" id="parent">
                <h1 id="child" style="color: #ffffff;">Етап {{ team_info.stage }}</h1>
            </div>
        </div>
        <div class="Bottom">
            <div class="Logs" style="padding:10px; padding-bottom:30px;">
                <div class="gray-box code-field">
                    <form method="POST">
                        <label for="code">Введіть код:</label>
                        <input type="text" name="code" type="submit">
                    </form>
                </div>
                <div class="gray-box" style="padding-left: 5%; padding-right: 3%; padding-top:0%; font-size: 18px; overflow:scroll; height:100%;">
                    {% for message in team_info.messages[::-1] %}
                    <p>
                        <b>{{ message.timestamp | local_time }}</b>
                        : {{ (message.text | safe) if message.safe else message.text }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="Tasks">
                <div style="padding:10px;">
                    <div class="gray-box" style="overflow:scroll; width:98.35%;">
                        {{standings}}
                    </div>
                </div>
                <div style="padding:10px;">
                    <div class="gray-box" style="width:98.35%;">
                        <p id="stage_timer" style="font-size: 25px; text-align: center;"></p>
                        <div style="padding-left: 5%; padding-right: 5%; font-size: 18px;">
                            {% include stage_content %}
                        </div>
                    </div>
                </div>
            <script>
                var stage_start_time = {{ stage_start_time }};
                var stage_end_time = stage_start_time + {{ stage.duration }};

                function stageCountdown() {
                    var time_left = stage_end_time - Date.now() / 1000;
                    if (time_left < 0) {
                        window.location = window.location.href;
                    }
                    var minutes = Math.floor(time_left / 60).toString();
                    while (minutes.length < 2) minutes = "0" + minutes;
                    var seconds = Math.floor(time_left % 60).toString();
                    while (seconds.length < 2) seconds = "0" + seconds;
                    document.getElementById("stage_timer").innerHTML = "Залишилось часу: " + minutes + ":" + seconds;
                }

                stageCountdown();
                var countdown = setInterval(stageCountdown, 1000);
            </script>
            </div>
            <div class="Gap2"></div>
        </div>
        <div class="Gap"></div>
    </div>
</body>
</html>
