<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<table class="center scrollable">
    <thead>
        <tr>
            <th style="color:#ffffff;"></th>
            {% for stage in standings_data.stages %}
            {% set stage_index = loop.index0 %}
            {% set stage_is_open = (loop.index0 in open_stages) %}
            <th colspan="{{ (stage.tasks | length) if stage_is_open else 1 }}" style="color:#ffffff;">
                <div class="section-icon {{ 'open' if stage_is_open else 'closed' }}" data-section="{{ stage_index }}" onclick="toggleSection(this)">
                    <i class="arrow"></i>
                </div>
                {{ stage.name }}
            </th>
            {% endfor %}
            <th rowspan="2" style="color:#ffffff;">Загалом балів</th>
            <th rowspan="2" style="color:#ffffff;">Загальний час</th>
        </tr>
        <tr>
            <th style="color:#ffffff;"></th>
            {% for stage in standings_data.stages %}
            {% set stage_index = loop.index0 %}
            {% set stage_is_open = (loop.index0 in open_stages) %}
            <th data-section="{{ stage_index }}" style="color:#ffffff;" {{ stage_is_open | hidden_if }}>Загалом</th>
            {% for task in stage.tasks %}
            <th data-section="{{ stage_index }}" style="color:#ffffff;" {{ (not stage_is_open) | hidden_if }}>{{ task.name }}</th>
            {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for team_id in standings_data.team_order %}
        {% set team_info = standings_data.team_info[team_id] %}
        <tr>
            <td>{{ team_info.name }}</td>
            {% for stage in standings_data.stages %}
            {% set stage_index = loop.index0 %}
            {% set stage_is_open = (loop.index0 in open_stages) %}
                {% set stage_points = standings_data.stage_points[team_id][loop.index0] %}
                {% set stage_max_points = standings_data.stage_max_points[team_id][loop.index0] %}
                {% set stage_ratio = stage_points / stage_max_points %}
            <td data-section="{{ stage_index }}" style="background-color: rgba(0, 255, 0, {{ stage_ratio }});" {{ stage_is_open | hidden_if }}>
                {% if team_info.stage >= loop.index0 %}
                {{ stage_points }} / {{ stage_max_points }}
                {% endif %}
            </td>
            {% for task in stage.tasks %}
            {% set completion = team_info.completed_tasks.get(task.id, None) %}
            {% set
                alpha = 0 if completion is none
                else completion.points / task.max_points
            %}
            <td data-section="{{ stage_index }}" style="background-color: rgba(0, 255, 0, {{ alpha }});" {{ (not stage_is_open) | hidden_if }}>
                {% if completion is not none %}
                    + ({{ completion.time_since_stage_entered|format_mmss }}, {{ completion.points }} pts)
                {% endif %}
            </td>
            {% endfor %}
            {% endfor %}
            <td>{{ team_info.total_points }}</td>
            <td>{{ team_info.total_time|format_hhmmss }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function setQueryParam(key, value) {
        var searchParams = new URLSearchParams(window.location.search);
        if (value === null) {
            searchParams.delete(key);
        } else {
            searchParams.set(key, value);
        }
        let searchParamsStr = searchParams.toString();
        if (searchParamsStr.length > 0) {
            searchParamsStr = '?' + searchParamsStr;
        }
        var newRelativePathQuery = window.location.pathname + searchParamsStr;
        history.pushState(null, '', newRelativePathQuery);
    }

    function getOpenSections(table) {
        let openSections = [];
        table.querySelectorAll('.section-icon.open').forEach(element => {
            openSections.push(element.getAttribute('data-section'));
        });
        return openSections;
    }

    function toggleSection(element) {
        let table = element.closest('table');

        const sectionName = element.getAttribute('data-section');
        const columns = table.querySelectorAll(
            `th[data-section="${sectionName}"], td[data-section="${sectionName}"]`
        );

        columns.forEach(column => {
            if (column.classList.contains('hidden')) {
                column.classList.remove('hidden');
            } else {
                column.classList.add('hidden');
            }
        });

        element.parentElement.colSpan = document.querySelectorAll(
            `th:not(.hidden)[data-section="${sectionName}"]`,
        ).length;

        if (element.classList.contains('open')) {
            element.classList.replace('open', 'closed');
        } else {
            element.classList.replace('closed', 'open');
        }

        let openSections = getOpenSections(table);
        if (openSections.length == 0) {
            setQueryParam("openSections", null);
        } else {
            setQueryParam("openSections", openSections);
        }
    }
</script>
