<p><b><i>Для завершення попереднього етапу:</i></b> Портал у Рапунцель, ключ: Ньютон+Лейбніц=інтеграл</p>

<p>
Паскаліна та Піфагор повертались додому. Подорож виявилась набагато довшою, ніж вони очікували, і вони вже втомились від того, що робити в порталі. Спочатку вони грали в різні ігри, перекинулись останніми анекдотами, а сон вже набрид.
</p>

<p>
<i>"Чому б не використати цей час більш корисно?"</i> – роздумувала Паскаліна. Вона подивилась на приладита зробила висновок: <i>"Ми рухаємось досить повільно. Та якщо як програміст, то можливо, я зможу щось з цим зробити."</i>
</p>

<p>
Паскаліна витягла свій комп’ютеор і почала аналізувати дані. Вона розібралась, як саме працює прошивка, і які процеси відбуваються. <i>"Може, є якісь оптимізації, які можна застосувати?"</i> – замислилась вона.
</p>

<img style="float: left; width: 50%; margin-right: 20px" src="{{ url_for('static', filename='cat_spaceship.png' )}}">

<p>
Піфагор, який спостерігав за її роботою, запитав: <i>"Ти справді вважаєш, що зможеш щось змінити?"</i>
</p>

<p>
Паскаліна посміхнулась: <i>"Чому б і ні? Якщо ми можемо знайти шляхи оптимізації наших програм, чому б не спробувати зробити те ж саме з нашою подорожжю?"</i>
</p>

<p>
Вона продовжила аналізувати дані, ретельно перевіряла кожен можливий аспект. І ось, після деякого часу, вона знайшла певні налаштування, які можна було оптимізувати. Вона розробила план дій і почала внесення змін у прошивку.
</p>

<i><b>“Шурх-шурх-шурх, дррррр”</b></i> – здається щось пішло не так. <i><b style="color: red">“Помилка помилка”</b></i> висвітилось на екрані. <i><b style="color: red">“Аварійна зупинка, подальший рух неможливо. Ми в ХIХ столітті. Поверніть заводські налаштування! Для повернення введіть код”.</b></i>

<p>
Піфагор засудливо поглянув на Паскаліну. Повернення додому поки що скасовується. <i>“Достатньо на сьогодні програмістів, потрібно шукати код”</i> – сказав пес. <i>“Думаю математики нам з цим допоможуть!”</i>
</p>

<p>
А ви допоможете Паскаліні та Піфагору знайти код та продовжити подорож?
</p>
