<p><b><i>Для завершення попереднього етапу:</i></b> Портал на телевізорі, ключ: Ліна_Паскаліна</p>

<p style="font-style:italic">
– Ну ось, нарешті збулася моя мрія. Я на власні очі побачив великого вченого Піфагора, на честь якого мене назвали, та навіть поспілкувався з ним.
</p>

<p>
Так уголос висловив своє задоволення австрійський пінчер.
</p>

<p style="font-style:italic">
– Пригоди були такими цікавими! Але ж я втомився, як собака. Тепер би одразу додому, скуштувати гарний обід і трохи <s>погратися у Minecraft</s> поспати. Повернемося додому?
</p>

<p>
Піфагор позіхнув, очікуючи, що Паскаліна теж втомилася та із задоволенням погодиться на його пропозицію. Але та подивилася на нього таким поглядом, що Піфагор одразу зрозумів – щось тут не так.
</p>

<img style="float: left; width: 35%" src="{{ url_for('static', filename='cat_angry.png' )}}">

<p style="font-style:italic">
– Аж ось ти який друг?! Ти Піфагора побачив, навіть селфі з ним зробив. А я? Я не те, щоб не познайомилася із славетним Паскалем, а навіть клаптика від його портрету не знайшла.
</p>

<p>
Паскаліна зашипіла та показала свої гострі зубки. Всім своїм виглядом вона виказувала, що вкрай незадоволена таким егоїзмом Піфагора.
</p>

<p style="font-style:italic">
– Ну, Паскаліно, - занив пінчер. Ми так набігалися та стерли всі лапи об ці старовинні загадки, що вже зовсім немає сил на нові пригоди. Нумо, повернемося додому. А потім, колись…
<br><br>
–Ні, ні, та ще раз ні! Поки не побачу Паскаля, або хоч його портрету, про повернення нема і мови. Я ще й сувенір для нього захопила та протаскала його за собою через усю Грецію. Так що ж, і не передам йому особисто в руки? Ти думаєш тільки про себе! Прощавай!
</p>

<img style="float: right; width: 35%" src="{{ url_for('static', filename='dog_math.png' )}}">

<p>
Із цими словами Паскаліна сама стрибнула у портал та її й слід простив.
</p>

<p style="font-style:italic">
– Не можу я так покинути подружку, це може бути для неї вкрай небезпечно. Я чув, що у середні віки кішку могли спалити на кострі, як відьму. А як вона відрізнить Паскаля? Там стільки математиків, і всі схожі, от хоч взяти Вієта, Декарта, Лейбніца, Ньютона, Ферма, Кардано, Феррарі… Паскаліно, постривай!
</p>

<p>
Пінчер миттю кинувся у портал та зник. А що ж ви? Невже дасте згинути двом бідолахам? Неодмінно треба їм допомогти! А якщо самім буде скрутно – то ж ось у вас яка велика команда, врятуєте один одного. Тільки не забувайте про прізвища великих математиків Середньовіччя! Без них можна швидко заплутатися у часі та просторі.
</p>

<p>
Ну ж бо, у портал!
</p>

<p>
<b>Для початку другої частини Квесту перейдіть за посиланням: <a href="https://vseosvita.ua/webquest/start/s/19358/3608570-657a816a">друга частина Квесту</a></b>
</p>
