<p>
Не те, що дуже давно, а сміливо можна сказати – нещодавно, знов зустрілися стародавні друзі – Піфагор та Паскаліна.
</p>

<p>
Що це за нісенітниця, можливо, подумали ви. Піфагор жив у Стародавній Греції, а Паскаліна ... взагалі, щось схоже з мовою програмування. Але все стає на місця, коли ви познайомитеся з нашими героями ближче. Піфагор – то є собака, за породою – австрійський пінчер. Він дуже полюбляє математику. Дві кісточки плюс дві кісточки дорівнює... класний обід!
</p>

<p>
У нашого собаки Піфагора є подруга – українська кішка Паскаліна. Вона дуже любить щось робити за певним алгоритмом. Спочатку поспати, потім поїсти, потім погуляти, потім знов поспати,... М-р-р-р, який класний цикл життя!
</p>
<img style="float: right" src="{{ url_for('static', filename='cat_and_dog.png' )}}">
<p>
Так ось, зустрілися Піфагор та Паскаліна.
<br>
- Давно не чув твого мявчання...
<br>
- Давно не чула твого ричання...
</p>
<p>
Так, слово за слово, вони вирішили, що звичайне
життя від обіду до обіду їм набридло, і вони хоч
зараз готові до нових цікавих пригод, як раніше,
коли вони були ще цуценятком та кошенятком.
«От, побачити б на власні очі славетного
математика Піфагора, на честь якого мене
назвали», - вголос замріявся Піфагор. «А мене
назвали на честь славетного француза – Блеза Паскаля. А я навіть портрета його не бачила», - підхопила Паскаліна.
</p>

<p>
Друзі десь чули, що зараз можливі будь-які чудеса. Треба тільки відшукати когось, хто знається на сучасних цифрових технологіях і все вирішиться само собою.
</p>

<p>
Ось чому не дивно, що чотирилапі друзі наштовхнулися у своїх пошуках на літню школу математиків та інформатиків ЛОЛ 2023. І так всім сподобалися, що неможливо було їм відмовити у здійсненні завітної мрії – подивитися на славетних Піфагора та Паскаля. Але подорож у часі та просторі, навіть віртуальна, може бути дуже небезпечною. На перший погляд, ти знаходишся у звичайному шкільному кабінеті, аж через мить – і не впізнати, де ти й що насправді коїться. Добре хоч, що є добрий дух Данило, який має містичну силу підказувати, як бути, у самих найскрутніших ситуаціях. Правда, ходять чутки, що не безкоштовно. Але дружня команда лолівців, - сподіваються Піфагор та Паскаліна, - будуть підтримувати нас на всьому шляху через тернії часу й простору.
</p>

<p>
Треба їм допомогти, та й самім побачити загадки минулого та його героїв. Тож, не гаємо часу! У подорож!! Паскаліна з Піфагором уже побігли!!!
</p>

<p>
Організатори скажуть вам код для початку. Чекайте.
<br>
Цей етап не враховується в загальний час.
</p>
