<p><b><i>Для завершення попереднього етапу:</i></b> Портал на лампі справа, ключ: dostatnioMatematuku</p>

<p>
Після такої довгої подорожі Піфагор і Паскаліна вже добряче втомилися, але ні Піфагор, ні Паскаліна не втратили рішучість рухатися далі в часі за допомогою порталів - треба ж якось додому повернутися. Друзі впевнені, що в кінці ланцюжка вони потраплять додому, але ж можна розважитися дорогою?
</p>

<p>
Портал привів їх у лігво дуже злісного на вигляд дракона, що охряняє гори скарбів.
</p>

<p style="font-style:italic">
<br>
– Паскаліно, сиди тихіше.
<br><br>
– Не можу я. Ця велика штука так мене і вабить. Цікава.
<br><br>
– Цікавість кішку погубила. І ти з цього правила винятком не станеш.
<br><br>
– Усе одно нам довго чекати, поки портал не відкриється. То може подивимося, що тут є, раптом щось цікаве знайдемо.
<br><br>
– Ех, ну гаразд. Тільки дуже обережно і дракона не чіпай, а то раптом прокинеться.
<br><br>
</p>

<p>
Паскаліна виходить зі свого тимчасового укриття і торкається смолоскипа, який переносить її та Піфагора кудись...
</p>

<p style="font-style:italic">
<br>
– Ух ти. Куди ж це нас занесло?
<br><br>
– А я казав... А я казав...
<br><br>
– Дивись, який хлопчик. А яка в нього сосиска на виделці апетитна!
<br><br>
– Паскаліно, ні!
<br><br>
</p>

<p>
Через деякий час пізніше:
</p>

<p style="font-style:italic">
<br>
– Дай і мені шматочок, а то так не чесно. Я теж голодний.
<br><br>
– Ну взагалі-то ти був проти. І я йшла на ризик, тож ні.
<br><br>
– Ну Паскаліна. Будьласочка. (Піфагор робить благальне личко)
<br><br>
– Ну добре, добре.
<br><br>
</p>

<p>
І вони перенеслися назад.
</p>

<p style="font-style:italic">
<br>
– Слухай, я передумав. Піду пошукаю ще цікавинок. Може теж поїсти чогось знайду, а то апетит з'явився.
<br><br>
– Це правильно. Він, як відомо, приходить під час їжі, а я теж голодна.
<br><br>
– Думаю, що тут не тільки такі міні-портали є, а й прості речі.
<br><br>
– Не важливо. Головне, що їжу знайдемо.
<br><br>
– І то правда. Ходімо!
<br><br>
– Ходімо! Мяу.
<br><br>
</p>

<h2>Підказки:</h2>
<i>Якщо завдання не виконано до появлення відповідної підказки, команда отримує 50% балів за нього.</i>

<h3>Завдання "Гільберт"</h3>
<i>{{ hints[0] }}</i>

<h3>Завдання "Dota2"</h3>
<i>{{ hints[1] }}</i>

<h3>Завдання "Мудрець"</h3>
<i>{{ hints[2] }}</i>

<h3>Завдання "Ріман"</h3>
<i>{{ hints[3] }}</i>

<h3>Завдання "Шредінгер"</h3>
<i>{{ hints[4] }}</i>

<h3>Завдання "Фібоначчі"</h3>
<i>{{ hints[5] }}</i>
