<p><b><i>Для завершення попереднього етапу:</i></b> Портал на емблемі скарабея, ключ: Піфагор+Боржомі=Бог_Їжі</p>

<p>
Після виснажливих мандрувань у часі (без Мезима на Олімпі робити нічого) наші герої вирішили перепочити та повернутись у сьогодення. Паскаліна вже замовила доставку з різними сортами рибки, а Піфагора дуже вабили нові іграшки, які він зможе купити за кишенькові гроші. Вспалах світла – і машина часу повертається на свою док-станцію у майстерні. Великий ангар був буквально затоплений світлом закатного сонця. Працівники поставили машину на майданчик для ремонту на завтра, а наші герої пішли гуляти по місту.
</p>

<p>
<i>"Ех, я навіть і звикла вже до минулих часів, трохи незвично знаходитись тут."</i> – з сумом промовила кішка.
</p>

<p>
Пес одразу піддакнув їй: <i>"Яка ж краса перебуває у кожній епосі історії людства! Хоча зараз ми можемо буквально побачити результат життя тих людей, яких ми зустріли під час подорожі!"</i>
</p>

<p>
Потихеньку почався вечір і друзі вирішили не відкладати реалізацію своїх бажань. Через деякий час у двері хтось постукав.
</p>

<p>
<i>"О, це кур'єр! Швидко вони працюють, кожен раз здивовлююсь."</i> – відреагувала Паскаліна, водночас вже почав бігти до дверей.
</p>

<p>
Відчинивши двері, кімнату заполонив ароматний запах рибки та суші.
</p>

<p>
<i>"Добрий день, це замовлення для Брунгільди?"</i> – прямо з порогу весело промовив молодий хлопець.
<br><br>
<i>"Ееее, не схоже, тут немає Брунгільди..."</i> – у розгубленості відповіла нібито-ще Паскаліна – <i>"Я також робила замовлення, а судячи по запаху - ви якраз принесли їжу для мене! Дайте я перевірю у телефоні, що там по статусу заказу."</i>
</p>

<p>
У додатку доставки їжі Паскаліна побачила, що до неї прийшов саме її кур'єр, але чому він її назвав Фрінгільдою – незрозуміло. Вирішив подивитись у свій профіль, Паскаліна і знайшла причину проблеми – там було написане саме це дивне ім'я.
Розібравшись з кур'єром та забравши свої смачненькі ласощі, Паскаліна вирішила сковкнути слюні та почала перевіряти усі свої профілі у соціальних мережах, а потім і документи – але там усюди було чітко зазначено <i>"Брунгільда"</i>. Піфагор дивився на метушню своєї подружки, знайшовши більш цікаву справу, ніж переглядати відео у Тіктоці, а потім його ніби то блискавкою вдарило.
</p>

<p>
<i>"БІДА! БІДА! БІДА! МИ ПОРУШИЛИ ПРАВИЛА МАНДРУВАННЯ У ЧАСІ! ЯКИМОСЬ ЧИНОМ МИ ЗМІНИЛИ ГАФ ІСТОРІЇ!"</i> – дивовижно гучно для його розміру прогорланив Піфагор.
</p>

<p>
На секунду у кімнаті була цілковита тиша. А далі, описати інакше як рудо – сіра розмита куча з пакетом їжі не вийде, помчалась у бік майстерні, переплигнула паркан і влетіла у машину часу. Поталановило, що робітники ще не почали займатися сервісом машини і тому вона була готова до використання(хоча по техніці безпеки так робити не можна – недоглянута машина часу могла пошкодити просторово-часовий континуум). Паскаліна почала копирсатися у комп'ютері машини часу і задала їй команду на відправлення у той момент у часі, де дії наших героїв вплинуло на хід історії. Бах-крях-пах – і вспалах синього світла освітив ангар на мить, після чого настала суцільна темрява.
</p>

<p>
Перед очима наших героїв з'явилась майстерня Паскаля, але у безладі і без самого Паскаля. По кімнаті ходять місцеві детективи, а майже усі прилади відсутні, не враховуючи різні деталі, які розкидані по підлозі.
</p>

<p>
Наші герої переглянулись, жах на мить з'явився у їх очах, але їх так легко не здолати.
</p>

<p>
<i>"Так, я займусь ремонтом машини, а ти тоді займись виправленням помилок. Підозрюю, що наша машина часу була не пристосована до такого довгого перебування на Олімпі – ось і під час повертання назад хід історії змінився через пошкодження машини"</i> – впевненим голосом розподілила обов'язки Паскаліна – <i>"Стоп, це ж тут була створена «Паскаліна» – арифметична машина Паскаля, у яку честь назвали мене. Тепер зрозуміло, що я стала Брунгільдою. мабуть хтось викрав машину та усі креслення, а потім запантентував, але у честь якоїсь Брунгільди. Може це якась крашиха викрадача, і він думав таким чином зробити подарунок..."</i>
</p>

<p>
Вислухав це потік слів від лінькуватої Паскаліни, Піфагор відповів – <i>"Так. Дякую за таке гарне зауваження, думаю це сильно допоможе у пошуку крадія, але це моя турбота. Зараз ти повинна думати лише про ремонт машини часу. І зателефонуй нашим друзям, їхня допомога тут життєво необхідна."</i>
</p>

<p>
Після дзвінку до вас, Піфагор відійшов поговорити з детективами та повернувся з дивними новинами. Схоже, через неполадку машини слова навколишніх людей трохи перекручуються і речення можуть мати зовсім інший сенс, але це і працює в іншу сторону – логічна відповідь на почуте запитання потім перекручується у нормальну (для навколишніх людей) відповідь.
</p>

<p>
Ваша задача назараз – допомогти детективам із справою та допомогти Паскаліні у ремонті!
</p>

<h2>Підказки:</h2>
<i>Якщо завдання не виконано до появлення відповідної підказки, з балів за це завдання знімається вказана в дужках кількість.</i>

<h3>Завдання 1</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[0] }}</i>

<h3>Завдання 2</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[1] }}</i>

<h3>Завдання 3</h3>
<h4>Підказка 1 (10 балів)</h4>
<i>{{ hints[2] }}</i>
<h4>Підказка 2 (10 балів)</h4>
<i>{{ hints[3] }}</i>

<h3>Завдання 4</h3>
<h4>Підказка (10 балів)</h4>
<i>{{ hints[4] }}</i>

<h3>Завдання 5</h3>
<h4>Підказка (5 балів)</h4>
<i>{{ hints[5] }}</i>

<h3>Завдання 6</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[6] }}</i>

<h3>Завдання 7</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[7] }}</i>

<h3>Завдання 8</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[8] }}</i>

<h3>Завдання 9</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[9] }}</i>

<h3>Завдання 10</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[10] }}</i>

<h3>Завдання 11</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[11] }}</i>
