<p>
Першою зупинкою наших героїв стала древня Греція – країна філософів та богів.
</p>

<p>
<i>"Вау, ми дивимось на таке гарне місто, з такими мур-ними будиночками. Їхні криші виглядають такими комфортабельними..."</i> – солодко потягнувшись, промуркотала Паскаліна.
<br><br>
У відповідь пес також мрійливо зітхнув: <i>"Ось які мудрі люди, у пошуку філософії життя та всесвіту навчились робити такі смачні стовби – кісточки... Дійсно – я тепер відчуваю звязок з моїм пращуром Піфагором, не дарма мене у його честь назвали"</i>
</p>

<p>
Після декількох днів мандрування по містечку (хіба можна звинувачувати наших героїв у бажанням глибше дослідити таку легендарну епоху та її страви), опит місцевих жителів дав зрозуміти, що Піфагор програв у іграх розуму Афіні, за що вона забрала його до себе і повинен допомагати їй підкорювати науки. Але сум Піфагора за своєю школою та друзями був великий, і Афіна вирішила трохи змилуватися над мудрецем, і створила шлях до його оселі на Олімпі. Цей шлях можуть подолати тільки ті створіння, які пройдуть загадки та докажуть свою спроможність бути у оселі знань (Афіна не бажала, щоб когорта різних розбишак постійно відволікали Піфагора та відволікали його від досліджень).
</p>

<p>
Після отримання інформації про місцезнаходження цього шляху наші герої зібрались та почали придумувати план.
</p>

<p>
<i>"Я-то кицька розумна і впевнена у своїх силах, але нащо витрачати час на це все, якщо ми можемо відправитись у той час, коли Афіна ще не забрала Піфагора?"</i> – примружуючи очі, сонливо сказала Паскаліна.
<br><br>
<i>"Я тебе розумію, але є проблема – наша машина часу не може пересуватись настільки точно у часі. Якщо ми хочемо потрапити до Піфагора, а не до його мати або могили – то виходу у нас, на жаль, нема. Хоча я впевнений, що з допомогою звязку з нашими друзями з ЛОЛу – ми точно подолаємо цей шлях."</i> – відповів пес.
<br><br>
<i>"Нє, ну з ними це буде легкотня. О, а давай зробимо це цікавіше – давай закладемося що ми цей шлях подолаємо за 45 хвилин? Якщо програємо – то прийдеться тобі їсти вишукану рибку, а мені гризти кісточки"</i> – передчуваючи інтересну гру, затараторила кицька.
<br><br>
<i>"Тоді якщо ми виграємо – то буде все по чесному – мені кістки, а тобі рибка"</i> – замріявся про велику миску кісточок Паскаль.
</p>

<p>
На цьому наші герої і домовились. Дійшовши до початку шляху, Паскаліну та Піфагора зустрічати вийшов сам Зевс.
</p>

<p>
<i>"Хо-хо-хо, бачу, дуже цікаві гості прийшли до славетного мудреця. Тоді логічно, що їх зустрічати повинен саме Зевс. Чув я про ваш заклад на швидкість проходження шляху до Піфагора, тому не буду вас затримувати. На шляху вас чекає чотири завдання, які були створені різними учнями Піфагора. Вирішив кожне з них – ви отримуєте два слова. Отримавши усі вісім слів, вам треба буде пройти останнє завдання – Олімпійку."</i> – промовив бог грому.
<br><br>
<i>"Ееее, це була шутка? Типу шлях до Олімпу – олімпійка?"</i> – тихесенько прошепотіла кішка.
</p>

<p>
Зевс зніяковівся та тяжко зітхнув.
</p>

<p>
<i>"Мда, тяжка прийшла публіка... Тоді самі розбирайтесь у асоціативному ряді прикладу олімпійки."</i> – почули у продовження герої.
<br><br>
<i>"Пробачте мою необережну супутницю, вона жодним чином не хотіла вас образити. Ми з іншого часу, тому поняття гумору у нас може трохи відрізнятись. Хоча я не можу не захопитись цією грою слів, о шановний Зевсе"</i> – поспішив з вибаченнями пес.
<br><br>
<i>"Ну добре, хоча б чемні люди сьогодні прийшли. Ой, я мав на увазі – чемні створіння",</i> – відповів Зевс – <i>"Тоді повідаю я вам про логіку таких завдань. Коли ви побачите приклад – я вам розкажу про ідею. А поки – робіть свої перші кроки по дорозі до Олімпу."</i>
</p>

<p>
На цьому наші герої потрапили у цікаву кімнату, де все виконано у антуражі древнього Єгипту. На задньому фоні роздався шепіт Зевса: <i>"Ось треба змусити Гефеста вже нарешті побудувати наш шлях, а не орендувати у сусідів кімнату у піраміді... Воно ж і коштує, як буквально вся ця піраміда..."</i>
</p>

<p>
<b>Для початку Квесту перейдіть за посиланням: <a href="https://vseosvita.ua/webquest/start/s/19428/3608570-b46a0f26" target="_blank">перша частина Квесту</a></b>
</p>

<h2>Підказки:</h2>
<i>Якщо завдання не виконано до появлення відповідної підказки, з балів за це завдання знімається вказана в дужках кількість.</i>

<h3>Завдання 1</h3>
<h4>Підказка 1 (10 балів)</h4>
<i>{{ hints[0] }}</i>
<h4>Підказка 2 (10 балів)</h4>
<i>{{ hints[1] }}</i>

<h3>Завдання 2</h3>
<h4>Підказка (20 балів)</h4>
<i>{{ hints[2] }}</i>

<h3>Завдання 3</h3>
<h4>Підказка (20 балів)</h4>
<i>{{ hints[3] }}</i>

<h3>Завдання 4</h3>
<h4>Підказка 1 (10 балів)</h4>
<i>{{ hints[4] }}</i>
<h4>Підказка 2 (10 балів)</h4>
<i>{{ hints[5] }}</i>

<h3>Завдання 5</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[6] }}</i>

<h3>Завдання 6</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[7] }}</i>

<h3>Завдання 7</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[8] }}</i>

<h3>Завдання 8</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[9] }}</i>

<h3>Завдання 9</h3>
<h4>Підказка 1 (5 балів)</h4>
<i>{{ hints[10] }}</i>
<h4>Підказка 2 (10 балів)</h4>
<i>{{ hints[11] }}</i>

<h3>Завдання 10</h3>
<h4>Підказка (15 балів)</h4>
<i>{{ hints[12] }}</i>

<h3>Завдання 11</h3>
<h4>Підказка (35 балів)</h4>
<i>{{ hints[13] }}</i>
