<p><b><i>Для завершення попереднього етапу:</i></b> Портал на рубіні зліва, ключ: wow640813</p>

<p style="font-style:italic">
Привіт! Як штучна мовна модель, я не можу придумати історию про æ–‡åSHY—åŒ–ãHOP‘, тому...
</p>

<p>
Піфагор і Паскаліна багато брали участь у турнірах з програмування, де у нагороду отримували токени NEAR, які потім зберігались у криптокишені Піфагора. Як ви, напевно, знаєте, для доступу до криптокишені зазвичай використовується мнемонічна фраза, яка зазвичай складається з 12 англійських слів. Щоб не забути слова він їх записав і сховав у кімнаті. Також Піфагор знає, що одна з головних переваг криптовалюти – це безпека, тому він зашифрував всі слова різними способами. Незважаючи на всю свою обачність, він забув правильний порядок слів...
</p>

<p>
На щастя, Паскаліна передбачила і такий перебіг подій і написала спеціально для нього телеграм бота, який може допомогти Піфагору пригадати його пароль!
</p>

<p>
Зауважте, що він хоче у будь-який момент пригадати що він там написав, тому при шифруванні використовував досить прості методи.
</p>
