.container {  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.3fr 0.2fr 2.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Top Top Top"
    "Gap Gap Gap"
    "Bottom Bottom Bottom";
}

.Top {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Stage Logo Team"
    "Stage Logo Team"
    "Stage Logo Team";
  grid-area: Top;
  background-color: var(--primary);
}

.Logo {
    grid-area: Logo;
}

.Stage {
    grid-area: Stage;
}

.Bottom {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Table Table Table"
    "Panel Panel Panel";
  grid-area: Bottom;
  padding: 10px;
}

.Table {
    grid-area: Table;
    padding: 10px;
}

.Gap { grid-area: Gap; }

html, body , .container {
  height: 100%;
  margin: 0;
}
