:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #006650;
    --secondary: #0d6e59;
    --accent: #00c594;

    --table_header: #497cf2;
    --row_odd: #bbbbbb;
    --row_even: #e0e0e0;
}

body {background-color: var(--background);}

#parent {
    display: table;
    width: 100%;
    height: 100px;
    text-align: center;
}
#parent_table {
    display: table;
    width: 100%;
    height: 0px;
    text-align: center;
}
#child {
    display: table-cell;
    vertical-align: middle;
}
body, head, h1, h2, h3, p, b {
  font-family: Arial;
  color: var(--text);
}

.center {
  margin: auto;
  width: 90%;
  padding: 20px;
}

.logo {
    position: absolute;
    margin: auto;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 1;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
th {
  background-color: var(--secondary);
  color: var(--text);
}
th, td {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
tr:nth-child(odd) {
  background-color: var(--row_odd);
}
tr:nth-child(even) {
  background-color: var(--row_even);
}
tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

html, body , .container {
  height: 100%;
  margin: 0;
}

input[type=password] {
  border: 2px solid black;
  border-radius: 7px;
}

input[type=text] {
  border: 2px solid black;
  border-radius: 7px;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=submit] {
    padding:5px 15px;
    background: #eeeeee;
    cursor:pointer;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
}

.hidden {
  display: none;
}

.section-icon {
  cursor: pointer;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  float: left;
  padding: 3px;
  margin-right: 10px;
}

.section-icon.closed i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.section-icon.open i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
